
<div class="outer-div">
  <div class="inner-div-manage">
    <div class="row">
      <div class="col-sm-9">
        <i class="fa-solid fa-bars"> </i> Manage Designation
      </div>
      <div class="col-sm-3">
      </div>
    </div>
   
  </div>
  <div class="inner-div">
    <div class="row">
      <div class="col-sm-3">
        <a mat-raised-button color="accent" routerLink="/emp-add-designation"><i class="fa fa-plus" aria-hidden="true"></i> Add</a>
      </div>
      <div class="col-sm-6">
        <div class="search-bar">
          <input type="text" placeholder="Search..." class="search-input">
          <button type="submit" class="search-button">
            <i class="fas fa-search"></i>
          </button>
        </div> 
      </div>

      <div class="col-sm-3" style="align-items: right;">
        <div class="button-group">
          <button class="icon-button">
            <i class="fas fa-print"></i>
            
          </button>
          <button class="icon-button">
            <i class="fas fa-download"></i>
            
          </button>
          <button class="icon-button">
            <i class="fas fa-file-excel"></i>
            
          </button>
          <button class="icon-button">
            <i class="fas fa-file-pdf"></i>
            
          </button>
        </div>

      </div>

    </div>
    
    
  </div>

  <div class="inner-div">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
  
        <!-- Weight Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> Phone </th>
          <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"
        (page)="onPageChange($event)"></mat-paginator>
    </div>
    
  </div>
</div>