<div class="outer-div">
  
    <div class="inner-div-manage">
      <div class="row">
        <div class="col-sm-9">
          <i class="fa-solid fa-bars"></i> Manage Department
        </div>
        <div class="col-sm-3">
        </div>
      </div>
    </div>
    <div class="inner-div" style="padding: 6px; background-color: white;">
    <div class="row">
      <div class="col-sm-4">
        <div class="inner-div">
          <form class="example-form">
            <div class="row">
              <mat-form-field class="example-form-field">
                <mat-label>Branch Name</mat-label>
                <mat-select placeholder="Branch Name" name="selectedBranch" required>
                  <mat-option></mat-option>
                </mat-select>
              </mat-form-field>
            </div>
           
            <div class="row">
              <mat-form-field class="example-form-field">
                <mat-label>Department Name</mat-label>
                <input matInput placeholder="Department Name" name="departmentName" required>
              </mat-form-field>
            </div>
            

            <mat-checkbox class="example-form-field" name="activeStatus">Active Status</mat-checkbox>

            <div class="button-group">
              <button mat-raised-button color="primary">Submit</button>

              <a mat-raised-button color="warn" routerLink="/emp-department">Cancel</a>
            </div>
          </form>
        </div>
      </div>

      <div class="col-sm-7" style="margin-left: 30px;">


        <div class="inner-div">
          <div class="row">

            <div class="col-sm-6">
              <div class="search-bar">
                <input type="text" placeholder="Search..." class="search-input">
                <button type="submit" class="search-button">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="col-sm-3" style="align-items: right;">
                <div class="button-group">
                  <button class="icon-button">
                    <i class="fas fa-print"></i>
  
                  </button>
                  <button class="icon-button">
                    <i class="fas fa-download"></i>
  
                  </button>
                  <button class="icon-button">
                    <i class="fas fa-file-excel"></i>
  
                  </button>
                  <button class="icon-button">
                    <i class="fas fa-file-pdf"></i>
  
                  </button>
                </div>
  
              </div>
            </div>

         

          </div>


        </div>

        <div class="inner-div">
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">

              <!-- Position Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name</th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Phone </th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button color="primary">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"
              (page)="onPageChange($event)"></mat-paginator>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>