
<div class="outer-div">
    <div class="inner-div-manage">
      Add Branch
    </div>
    <div class="inner-div">
      <form class="example-form">
        <div class="example-grid">
          <div class="example-column">
            <mat-form-field>
              <mat-label>Branch Name</mat-label>
              <input matInput placeholder="Branch Name" name="branchName" required tabindex="1">
            </mat-form-field>
      
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput type="email" placeholder="Email"  name="email" required tabindex="2">
            </mat-form-field>
      
            <mat-form-field>
              <mat-label>Mobile Number</mat-label>
              <input matInput type="tel" placeholder="Mobile Number" name="mobileNumber" required tabindex="3">
            </mat-form-field>
          </div>
      
          <div class="example-column">
            <mat-form-field>
              <mat-label>City</mat-label>
              <input matInput placeholder="City"  name="city" required tabindex="4">
            </mat-form-field>
      
            <mat-form-field>
              <mat-label>State</mat-label>
              <input matInput placeholder="State"  name="state" required>
            </mat-form-field>
      
            <mat-form-field>
              <mat-label>Address</mat-label>
              <textarea matInput placeholder="Address"  name="address" required [tabIndex]="5"></textarea>
            </mat-form-field>
      
            <mat-checkbox  name="activeStatus">Active Status</mat-checkbox>
          </div>
        </div>
      
        <div class="button-group">
          <button mat-raised-button color="primary">Submit</button>
          
          <a  mat-raised-button color="warn" routerLink="/emp-branch">Cancel</a>
        </div>
      </form>
      
          
      
    </div>
  </div>



