
<div class="container-fluid">
  <div class="header">
    
  </div>
  <div class="row margin-body">
    
    <div class="col-3">
    
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Employee
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa-solid fa-arrow-right-to-line"></i><a class="link-decoration" routerLink="/">Home</a></li>
          <li class="list-group-item"><i class="fa-solid fa-arrow-right-to-line"></i><a class="link-decoration" routerLink="/emp-branch">Branch</a></li>
          <li class="list-group-item"><a routerLink="/emp-department">Department</a></li>
          <li class="list-group-item"><a routerLink="/emp-designation">Designation</a></li>
          <li class="list-group-item"><a routerLink="/emp-details">Emp Details</a></li>
        </ul>
      </div>

      <div class="card" style="width: 18rem; margin-top: 5px;">
        <div class="card-header">
          HRMS
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a routerLink="/emp-salary-template">Salary Template</a></li>
          <li class="list-group-item"><a routerLink="/emp-salary-assignment">Salary Assignment</a></li>
          
        </ul>
      </div>
    </div>

   
    <div class="col-9">
      
      <!-- Content of the selected menu item goes here -->
      <router-outlet></router-outlet>
    </div>
  </div>

