
<div class="container-fluid">
  <header class="fixed-header" *ngIf="isHeaderMenu">
    <div class="logo-container">
      <img [src]="logoPath" class="logo">
    </div>
    <div class="header-buttons">
      <button class="header-button">
        <i class="fas fa-cog"></i>
        Settings
      </button>
      <button class="header-button" (click)="logOut()">
        <i class="fas fa-sign-out-alt"></i>
        Logout
      </button>
    </div>
    <!-- Header content goes here -->
  </header>
  
  <div class="row" style="margin-top: 70px;">
    <div class="col-sm-3" *ngIf="isSideMenu">
    
      <div style="width: 18rem;"  >
        <div class="side-menu">
          <ul class="menu-list">
            <li class="menu-item active">
              <a href="#">EMPLOYEE</a>
            </li>
            <li class="menu-item">
              <a class="link-decoration" routerLink="/">Dashboard</a>
            </li>
            <li class="menu-item">
              <a class="link-decoration" routerLink="/emp-branch">Branch</a>
              
            </li>
            <li class="menu-item">
              <a routerLink="/emp-department">Department</a>
            </li>
            <li class="menu-item">
              <a routerLink="/emp-designation">Designation</a>
            </li>
            <li class="menu-item">
              <a routerLink="/emp-details">Emp Details</a>
            </li>
          </ul>
        </div>
        
      </div>

      <div style="width: 8rem; margin-top: 5px;">
      
        <div class="side-menu">
          <ul class="menu-list">
            <li class="menu-item active">
              <a href="#">HRMS</a>
            </li>
            <li class="menu-item">
              <a routerLink="/emp-salary-template">Salary Template</a>
            </li>
           
            <li class="menu-item">
              <a routerLink="/emp-salary-assignment">Salary Assignment</a>
            </li>
          </ul>
        </div>
        
      </div>
    </div>

   
    <div class="col-sm-9">
      
      <!-- Content of the selected menu item goes here -->
      <router-outlet></router-outlet>
    </div>

   
  </div>
 
  

