.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* You can adjust the background color and opacity to create an overlay effect */
    z-index: 9999; /* Make sure the loader appears above other elements */
  }
  
  .loader {
    width: 100px; /* You can adjust the size of the spinner */
    height: 100px; /* You can adjust the size of the spinner */
  }

